ul {
    font: 14px Verdana, Geneva, sans-serif;
    text-align: center;
}

ul li {
    display : inline-block;
    width : 250px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: beige;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    border-radius: 5px;
}
.img-product{
    border-style: double;
    border-color: black;
    border-radius: 5px;
}